In [2]:
# Accessing user inputs and loading model
import pickle
import sklearn
import pandas as pd
import joblib

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import r2_score

In [13]:

with open(r'/root/code/models/random_forest_regressor.pickle', 'rb') as f:
  model = pickle.load(f)

pipeline1 = joblib.load(r'/root/code/models/pipeline1.joblib')

columns = ['name', 'km_driven', 'fuel', 'seller_type', 'transmission', 'owner', 'mileage',
       'engine', 'max_power', 'seats']

data = [['Maruti', 145500, 0, 'Individual', 1, 1, 23.4, 1248, 74, 5]]

X_input = pd.DataFrame(columns=columns, data=data)
X_input

,name,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,seats
0,Maruti,145500,0,Individual,1,1,23.4,1248,74,5

In [14]:

X_input_transformed = pipeline1.transform(X_input)
X_input_transformed

array([[ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
         1.        ,  0.        ,  1.35801131, -0.9056887 ,  0.38785281,
        -0.6458947 ,  1.01494329, -0.42612528, -0.49850275, -0.43914232]])

In [15]:
selling_price = model.predict(X_input_transformed)
print(selling_price)

[456550.]